.hint {
  color: rgba(0, 0, 0, 0.54);
}

:host {
  a.mat-list-item {
    height: auto;
    padding: 10px 0;

    &.active-link {
      background: rgba(0, 0, 0, .08);
    }
  }

  span.mat-line {
    white-space: normal;

    &.hint {
      padding-top: 5px;
      font-size: 13px;
    }
  }
}
