<ngf-form-example exampleName="Recursive Update"
                  *ngIf="formState$ | async as formState"
                  [formState]="formState">
  This example shows how it is possible to update the full form state with a single update function. In this scenario we
  want to block/disable the form inputs after submitting the form. However, some elements have been manually disabled in
  the form state and they should remain disabled when the UI is unblocked, which will happen 1 second after submitting
  the form (simulating a server call). We achieve this by storing a user-defined property for each form control. This
  allows returning all form inputs to the state they were before the UI was blocked.
  <br />
  <br />
  <form [ngrxFormState]="formState"
        (submit)="submit()">
    <div>
      <label>First Name</label>
      <div>
        <input type="text"
               placeholder="First Name"
               [ngrxFormControlState]="formState.controls.firstName" />
      </div>
    </div>
    <div>
      <label>Last Name</label>
      <div>
        <input type="text"
               placeholder="Last Name"
               [ngrxFormControlState]="formState.controls.lastName" />
      </div>
    </div>
    <div>
      <label>Email</label>
      <div>
        <input type="email"
               placeholder="Email"
               [ngrxFormControlState]="formState.controls.email" />
      </div>
    </div>
    <div>
      <label>Sex</label>
      <div>
        <label>
          <input type="radio"
                 value="male"
                 [ngrxFormControlState]="formState.controls.sex" /> Male
        </label>
        <label>
          <input type="radio"
                 value="female"
                 [ngrxFormControlState]="formState.controls.sex" /> Female
        </label>
      </div>
    </div>
    <div>
      <label>Favorite Color</label>
      <div>
        <select [ngrxFormControlState]="formState.controls.favoriteColor">
          <option value=""></option>
          <option value="ff0000">Red</option>
          <option value="00ff00">Green</option>
          <option value="0000ff">Blue</option>
        </select>
      </div>
    </div>
    <div>
      <label>Employed</label>
      <div>
        <input type="checkbox"
               [ngrxFormControlState]="formState.controls.employed" />
      </div>
    </div>
    <div>
      <label>Notes</label>
      <div>
        <textarea [ngrxFormControlState]="formState.controls.notes">
        </textarea>
      </div>
    </div>
    <div class="buttons">
      <div></div>
      <div>
        <button type="submit">
          Submit
        </button>
      </div>
    </div>
  </form>
</ngf-form-example>
