sudo: required
dist: trusty
addons:
  chrome: stable
language: node_js
node_js:
  - 10
before_install:
  - npm i npm@^5 -g
install:
  - npm install
script:
  - npm run build
  - npm run test-no-progress
  # - npm run dtslint
after_success:
  - npm run report-coverage
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
notifications:
  email: false
