@import "../../styles/shared";

:host {
  @extend .page;
}

form {
  max-width: 250px;

  > div {
    margin-bottom: 5px;
  }
}

.buttons {
  margin-top: 20px;
}

.mat-form-field {
  width: 100%;
}

.mat-radio-group {
  display: block;
  margin-bottom: 20px;

  .mat-radio-button + .mat-radio-button {
    margin-left: 10px;
  }
}

.terms-of-use-error {
  font-size: 75%;
}

mat-selection-list {
  margin-bottom: 20px;
}
