<form novalidate
      [ngrxFormState]="formState"
      (submit)="onSubmit()">
  <div class="first-row">
    <md-select placeholder="Category"
               [ngrxFormControlState]="formState.controls.category"
               [ngrxEnableFocusTracking]="true">
      <md-option value="Private">Private</md-option>
      <md-option value="Work">Work</md-option>
    </md-select>
    <md-input-container floatPlaceholder="always">
      <input type="number"
             mdInput
             id="priority"
             [placeholder]="metaState.controls.priority.isEnabled ? 'Priority' : 'Priority (disabled)'"
             [ngrxFormControlState]="metaState.controls.priority"
             [ngrxEnableFocusTracking]="true"
             [ngrxEnableLastKeydownCodeTracking]="true">

      <md-error *ngIf="metaState.controls.priority.errors.required">
        A priority is required
      </md-error>

      <md-error *ngIf="metaState.controls.priority.errors.min">
        Priority must be at least 1
      </md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput
             id="duedate"
             [mdDatepicker]="picker"
             placeholder="Due date"
             [ngrxFormControlState]="metaState.controls.duedate"
             [convertViewValue]="convertDateViewValue"
             [convertModelValue]="convertDateModelValue"
             [ngrxEnableFocusTracking]="true"
             [ngrxEnableLastKeydownCodeTracking]="true">

      <button mdSuffix
              [mdDatepickerToggle]="picker"></button>

      <md-error *ngIf="metaState.controls.duedate.errors.required">
        A due date is required
      </md-error>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
  </div>
  <div class="second-row">
    <md-input-container>
      <input type="text"
             mdInput
             id="text"
             placeholder="Text"
             [ngrxFormControlState]="formState.controls.text"
             [ngrxEnableFocusTracking]="true"
             [ngrxEnableLastKeydownCodeTracking]="true">

      <md-error *ngIf="formState.controls.text.errors.required">
        A text is required
      </md-error>
    </md-input-container>
    <button md-raised-button
            color="primary"
            type="submit"
            [disabled]="formState.isInvalid && formState.isSubmitted">
      Add Item
    </button>
  </div>
</form>
<div class="divider"></div>
