form {
  display: flex;
  flex-direction: column;
}

.first-row,
.second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-row>md-input-container {
  margin-left: 20px;
  flex: 1;
}

.second-row>md-input-container {
  width: 100%;
  margin-right: 20px;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  margin-right: -24px;
  margin-top: 10px;
}

.mat-select /deep/ .mat-select-trigger {
  margin-bottom: 8px;
}

.mat-select /deep/ .mat-floating-placeholder {
  font-size: 14px;
  margin-top: 8px;
}
