<form novalidate
      [ngrxFormState]="formState"
      (submit)="onSubmit()">
  <div class="first-row">
    <mat-select placeholder="Category"
               [ngrxFormControlState]="formState.controls.category"
               [ngrxEnableFocusTracking]="true">
      <mat-option value="Private">Private</mat-option>
      <mat-option value="Work">Work</mat-option>
    </mat-select>
    <mat-input-container floatPlaceholder="always">
      <input type="number"
             matInput
             id="priority"
             [placeholder]="metaState.controls.priority.isEnabled ? 'Priority' : 'Priority (disabled)'"
             [ngrxFormControlState]="metaState.controls.priority"
             [ngrxEnableFocusTracking]="true"
             [ngrxEnableLastKeydownCodeTracking]="true">

      <mat-error *ngIf="metaState.controls.priority.errors.required">
        A priority is required
      </mat-error>

      <mat-error *ngIf="metaState.controls.priority.errors.min">
        Priority must be at least 1
      </mat-error>
    </mat-input-container>
    <mat-input-container>
      <input matInput
             id="duedate"
             [matDatepicker]="picker"
             placeholder="Due date"
             [ngrxFormControlState]="metaState.controls.duedate"
             [ngrxValueConverter]="dateValueConverter"
             [ngrxEnableFocusTracking]="true"
             [ngrxEnableLastKeydownCodeTracking]="true">
      <mat-datepicker #picker></mat-datepicker>
      <button matSuffix (click)="picker.open()"></button>

      <mat-error *ngIf="metaState.controls.duedate.errors.required">
        A due date is required
      </mat-error>
    </mat-input-container>
    <mat-datepicker #picker></mat-datepicker>
  </div>
  <div class="second-row">
    <mat-input-container>
      <input type="text"
             matInput
             id="text"
             placeholder="Text"
             #textInput
             [ngrxFormControlState]="formState.controls.text"
             ngrxUpdateOn="blur"
             [ngrxEnableFocusTracking]="true"
             [ngrxEnableLastKeydownCodeTracking]="true">

      <mat-hint align="end">
        {{textInput.value?.length || 0}} / 50
      </mat-hint>

      <mat-error *ngIf="formState.controls.text.errors.required">
        <span>
          A text is required
        </span>
        <span class="mat-input-hint-spacer"></span>
        <span>
          {{textInput.value?.length || 0}} / 50
        </span>
      </mat-error>

      <mat-error *ngIf="formState.controls.text.errors.maxLength">        
        <span>
          The text may be at most 50 characters long
        </span>
        <span class="mat-input-hint-spacer"></span>
        <span>
          {{textInput.value?.length || 0}} / 50
        </span>
      </mat-error>
    </mat-input-container>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="formState.isInvalid && formState.isSubmitted">
      Add Item
    </button>
  </div>
</form>
<div class="divider"></div>
