:host {
  display: flex;
  height: 100%;
  margin: auto;
  justify-content: flex-start;

  >mat-card.example {
    width: 640px;
    margin: 20px 10px 20px 20px;

    .small /deep/ .mat-tab-label {
      min-width: 128px;
      padding: 0;
    }

    /deep/ .mat-tab-body-content {
      max-width: 640px;
    }

    /deep/ .mat-card-content,
    /deep/ .mat-tab-group {
      height: 100%;
    }
  }
}

.form-state {
  margin: 20px 20px 20px 10px;
  overflow: auto;
  min-width: 500px;
  max-width: 640px;
}

.form {
  padding: 20px;
}
