<mat-card class="example">
  <mat-card-content>
    <div class="title-wrapper">
      <div class="title">
        {{ exampleName }}
      </div>
      <a class="github-link"
         href="https://github.com/MrWolfZ/ngrx-forms/tree/master/example-app/src/app/{{githubLink}}"
         target="_blank">
        View code on GitHub
        <img src="assets/GitHub-Mark.png" />
      </a>
    </div>
    <div class="form">
      <ng-content></ng-content>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="form-state">
  <mat-card-content>
    <pre><code [innerHtml]="formattedFormState"></code></pre>
  </mat-card-content>
</mat-card>
