:host {
  display: flex;
  height: 100%;
  margin: auto;
  justify-content: flex-start;

  > mat-card.example {
    width: 640px;
    max-width: 640px;
    margin: 20px 10px 20px 20px;

    ::ng-deep .mat-card-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      > .title-wrapper {
        display: flex;
        justify-content: space-between;
        margin-right: -24px;
        padding-bottom: 10px;
        padding-right: 15px;
        border-bottom: 1px solid #ddd;

        > .title {
          font-size: 140%;
          font-weight: bold;
        }

        > .github-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: inherit;

          > img {
            margin-left: 5px;
            width: 20px;
            height: 20px;
          }
        }
      }

      > .form {
        flex: 1;
        overflow: auto;
        overflow: overlay;
        padding-top: 10px;
        padding-right: 10px;
      }
    }
  }
}

.form-state {
  margin: 20px 20px 20px 10px;
  overflow: auto;
  min-width: 500px;
  max-width: 640px;
}
