<div class="main-content">
  <mat-card class="todo-list">
    <mat-card-header>
      <mat-card-title>Todos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="description">
        Notes: <br/>
        - the "Priority" input is only enabled for the "Work" category<br/>
        - the "Text" input only updates the state value on "blur" which means there is a delay in updating the validation status as well
      </div>
      <app-item-form [formState]="formState$ | async"
                     (addTodoItem)="addTodoItem($event)"></app-item-form>
      <mat-list>
        <mat-list-item *ngFor="let item of items$ | async">
          <div class="list-item">
            <div class="category">{{item.category}}</div>
            <div class="text">{{item.text}}</div>
            <div class="priority">{{item.meta.priority > 0 ? item.meta.priority : ''}}</div>
            <div class="duedate">{{formatDate(item.meta.duedate)}}</div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="state">
    <pre>{{formState$ | async | json}}</pre>
  </mat-card>
</div>
