:host {
  display: flex;
  justify-content: center;
}

.main-content {
  margin-top: 50px;
  display: flex;
}

.mat-card.todo-list {
  width: 500px;
}

.description {
  margin-bottom: 20px;
}

.mat-card.state {
  width: 400px;
  margin-left: 20px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

.mat-card-title {
  font-size: 200%;
}

.mat-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  width: 100%;
}

.list-item .category {
  flex: 1;
}

.list-item .text {
  flex: 3;
}

.list-item .priority {
  flex: 1;
}

.list-item .duedate {
  flex: 1;
}
