@import '../../styles/shared';

:host {
  @extend .page;
}

form {
  display: flex;

  >div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.array-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  >div {
    display: flex;
    align-items: center;

    label {
      width: 65px;
    }
  }
}

.group-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0;

  >div {
    display: flex;
    align-items: center;

    label {
      width: 75px;
    }
  }
}

.section-heading {
  font-weight: bold;
}

.add-btn {
  margin: 10px 0;
}

.remove-btn {
  margin-left: 10px;
}
