<ngf-form-example exampleName="Simple Form"
                  *ngIf="formState$ | async as formState"
                  [formState]="formState">
  This example shows a basic form without any extras.
  <br />
  <br />
  <form [ngrxFormState]="formState"
        (submit)="submit()">
    <div>
      <label>First Name</label>
      <div>
        <input type="text"
               placeholder="First Name"
               [ngrxFormControlState]="formState.controls.firstName" />
      </div>
    </div>
    <div>
      <label>Last Name</label>
      <div>
        <input type="text"
               placeholder="Last Name"
               [ngrxFormControlState]="formState.controls.lastName" />
      </div>
    </div>
    <div>
      <label>Email</label>
      <div>
        <input type="email"
               placeholder="Email"
               [ngrxFormControlState]="formState.controls.email" />
      </div>
    </div>
    <div>
      <label>Sex</label>
      <div>
        <label>
          <input type="radio"
                 value="male"
                 [ngrxFormControlState]="formState.controls.sex" /> Male
        </label>
        <label>
          <input type="radio"
                 value="female"
                 [ngrxFormControlState]="formState.controls.sex" /> Female
        </label>
      </div>
    </div>
    <div>
      <label>Favorite Color</label>
      <div>
        <select [ngrxFormControlState]="formState.controls.favoriteColor">
          <option value=""></option>
          <option value="ff0000">Red</option>
          <option value="00ff00">Green</option>
          <option value="0000ff">Blue</option>
        </select>
      </div>
    </div>
    <div>
      <label>Employed</label>
      <div>
        <input type="checkbox"
               [ngrxFormControlState]="formState.controls.employed" />
      </div>
    </div>
    <div>
      <label>Notes</label>
      <div>
        <textarea [ngrxFormControlState]="formState.controls.notes">
        </textarea>
      </div>
    </div>
    <div class="buttons">
      <div></div>
      <div>
        <button type="submit">
          Submit
        </button>
        <button type="button"
                [disabled]="formState.isPristine
                            && formState.isUntouched
                            && formState.isUnsubmitted"
                (click)="reset()">
          Reset
        </button>
      </div>
    </div>
  </form>
  <br />
  <div *ngIf="formState.isSubmitted">
    The form was submitted with the following value:
    <br />
    <pre>{{ submittedValue$ | async | json }}</pre>
  </div>
</ngf-form-example>
