<ngf-form-example exampleName="Local state: Introduction"
                  githubLinkOverride="local-state-introduction"
                  [formState]="formState">
  Introductory example that shows how you can disable emitting any form actions to the global store via the builtin
  ActionsSubject.
  Instead, you can listen for actions using the directive's output EventEmitter and route them to the component.
  <br />
  The component holds, updates and maintains a local form state, which does not taint the global store and
  is automatically cleaned up once the component is destroyed.
  <br />
  <br />
  <br />

  <form [ngrxFormState]="formState"
        (ngrxFormsAction)="handleFormAction($event)">
    <div>
      <label>CountryCode</label>
      <div>
        <input type="text"
               [ngrxFormControlState]="formState.controls.countryCode"
               (ngrxFormsAction)="handleFormAction($event)">
      </div>
    </div>
  </form>
</ngf-form-example>
