<ngf-form-example exampleName="Array Form"
                  githubLinkOverride="array"
                  *ngIf="formState$ | async as formState"
                  [formState]="formState">
  This example shows arrays of form states can be created and used.
  <br />
  <br />
  <form>
    <div *ngFor="let control of formState.controls.options.controls;
                 trackBy: trackByIndex;
                 let i = index">
      <label>Option {{ i }}</label>
      <div>
        <input type="checkbox"
               [ngrxFormControlState]="control" />
      </div>
    </div>
  </form>
</ngf-form-example>
