<ngf-form-example exampleName="Value Conversion"
                  *ngIf="formState$ | async as formState"
                  [formState]="formState">
  This example shows how to use value converters. The following example contains a date input. The value of such a form
  element is a JavaScript date object. However, since date objects cannot be used directly as values for form controls
  we use a built-in value converter that converts the date to an ISO string.
  <br />
  <br />
  <form>
    <div>
      <mat-form-field>
        <input matInput
               [matDatepicker]="picker"
               placeholder="Date"
               [ngrxFormControlState]="formState.controls.date"
               [ngrxValueConverter]="dateToISOString">
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</ngf-form-example>
