<ngf-form-example [reducerCode]="reducerCode"
                  [componentCode]="componentCode"
                  [componentHtml]="componentHtml"
                  [formState]="formState$ | async">
  This example shows how to use value boxing to use form elements which require non-primitive values. The following example
  contains a select that allows to select multiple elements. The value of such a form element is an array of the selected
  options.
  <br />
  <br />
  <ngf-value-boxing-example [formState]="formState$ | async"></ngf-value-boxing-example>
</ngf-form-example>
